extends layout/homeLayout

block homecontent
    link(rel='stylesheet',type="text/css", href='/css/wangEditor.css')
    link(rel='stylesheet',type="text/css", href='/css/base.css')
    link(rel='stylesheet',type="text/css", href='/bower_components/cropper/dist/cropper.min.css')
    link(rel='stylesheet',type="text/css", href='/css/blogEdit.css')
    .home-box
        .ui.breadcrumb.breadcrumb-nav
            a(href="/").section MainPage
            .divider  /
            a(href="/home").section Home
            .divider  /
            .active.section NewBlog
        .main-box
            form.ui.form
                .field
                    label Blog Title
                    input.ndCheck(type='text',name="blogTitle",placeholder="You need a good title",value="#{blog.title || '' }")
                .field
                    label Blog Introduce
                    textarea.ndCheck(rows='2',name="blogIntr",placeholder="Simply tell us something") #{blog.intr || '' }
                .inline.field
                    .ui.toggle.checkbox
                        -if(blog.postStatus)
                            input.ndCheck.lockStatus(type='checkbox',name='postStatus',checked)
                        -else
                            input.ndCheck.lockStatus(type='checkbox',name='postStatus')
                        label Publish to the home page
                .field
                    label Blog PreviewImage
                    - if ( blog.imgUrl !='')
                        input(type='url',name='previewImageUrl',placeholder="Image Url (Allow the chain)",style="width:calc(100% - 100px)",disabled)
                    - else
                        input(type='url',name='previewImageUrl',placeholder="Image Url (Allow the chain)",style="width:calc(100% - 100px)")
                    .ui.dropdown.label.imgUrlTtype ImgUrl
                        i.dropdown.icon
                        .menu
                            .item#addBlogsPreviewImageUrl network
                            .item Local
                                input#addBlogsPreviewImage(type="file")
                    - if ( blog.imgUrl != undefined)
                        .addBlogsPreviewImageShowBox(style="display:block;")
                            img.addBlogsPreviewImageShow(src=blog.imgUrl)
                    - else
                        .addBlogsPreviewImageShowBox
                            img.addBlogsPreviewImageShow
                .field
                    label Blog Marks
                    input.ndCheck(type='text', name='markGroup',placeholder="Html , Css , Node....",value="#{blog.mark || '' }")
                div.editor-container
                    div#editor-box
                input.ndCheck#blogContent(type="hidden",name="blogContent",value="#{blog.content || ''}")
                .positive.ui.button#submit-btn
                    | SUBMIT
                -if(blog.title != undefined)
                    input(type="hidden",name="actionType",value="1")
                    input(type="hidden",name="_id",value=blog._id)
                -else
                    input(type="hidden",name="actionType",value="0")

            div.editor-markdown-container

    script(src="/js/wangEditor.js")
    script(src="/bower_components/cropper/dist/cropper.min.js")
    script(src="/js/blogEdit.js")


