extends layout/homeLayout

block homecontent
    link(rel='stylesheet',type="text/css", href='/css/blogList.css')
    .home-box
        .ui.breadcrumb.breadcrumb-nav
            a(href="/").section MainPage
            .divider  /
            a(href="/home").section home
                .divider  /
            .active.section BlogList
        article.article
            h2 Blog List
            table.ui.celled.table.selectable
                thead
                    tr
                        th ID
                        th Preview
                        th Title
                        th Introduce
                        th Mark
                        -if(userType)
                            th Author #{userType}
                        th AddTime
                        th View
                        th Prise
                        th Publish
                        th opts
                tbody
                    each  val,key in list
                        tr
                            td(style="width:220px;") #{val._id}
                            td(style="width:60px;")
                                img(src=val.imgUrl,style="max-height:30px;width:auto;")
                            td(style="max-width:200px;")
                                a.header(href=" /blogs/#{val._id}" ) #{val.title}
                            td(style="max-width:300px;") #{val.intr}
                            td #{val.mark.join()}
                            -if(userType)
                                td #{val.author}
                            td #{new Date(val.addTime).toLocaleString()}
                            td #{val.viewCount}
                            td #{val.priseCount}
                            -if(val.postStatus)
                                td
                                    span(style="color:green;") Published
                            -else
                                td
                                    span(style="color:red;") UnPublish
                            td(style="width:20px;text-align:center;")
                                .ui.right.pointing.dropdown.icon.button
                                    i.settings.icon
                                    .menu
                                        .header
                                            i.cubes.icon
                                            |  operation
                                        .item
                                            .ui.blue.empty.circular.label
                                            a.blogs-ActionBtn(href='/home/addBlogs/edit/'+val._id) Edit
                                        .item
                                            .ui.red.empty.circular.label
                                            a.blogs-ActionBtn(href='/home/blogAction/delete/'+val._id) Delete
                                        .item
                                            .ui.black.empty.circular.label
                                            -if(val.postStatus)
                                                a.blogs-ActionBtn(href='/home/blogAction/unPublish/'+val._id,style='color:red') UnPublish
                                            -else
                                                a.blogs-ActionBtn(href='/home/blogAction/publish/'+val._id,style='color:green') Publish
            .pagination-container
                -if(pages > 0)
                    ul.pagination-listGroup
                        -if (pages <= 1)
                            - for (var x = 0; x < pages; x++)
                                - if ( x==curPage )
                                    li.pagination-listItem.activePage
                                        a(href='/home/blogList/'+(x+1))=x+1
                                - else
                                    li.pagination-listItem
                                        a(href='/home/blogList/'+(x+1))=x+1
                        -else
                            li.pagination-listItem
                                a(href='/home/blogList/1') Front
                            - for (var x = 0; x < pages; x++)
                                - if ( x==curPage )
                                    li.pagination-listItem.activePage
                                        a(href='/home/blogList/'+(x+1))=x + 1
                                - else
                                    li.pagination-listItem
                                        a(href='/home/blogList/'+(x+1))=x + 1
                            li.pagination-listItem
                                a(href='/home/blogList/'+(pages)) End
                -else
                    span 暂无数据

    script(src="/js/blogList.js")