extends layout/layout

block content
    link(rel='stylesheet',type="text/css", href='/bower_components/semantic/dist/semantic.min.css')
    link(rel='stylesheet',type="text/css", href='/css/base.css')
    link(rel='stylesheet',type="text/css", href='/css/index.css')
    link(rel='stylesheet',type="text/css", href='/bower_components/nprogress/nprogress.css')
    script(src="/bower_components/nprogress/nprogress.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/semantic/dist/semantic.min.js")
    script NProgress.start();
    include layout/header

    script NProgress.set(0.2)
    .main-box
        each  val,key in list
            .ui.items.sim-blog
                .item
                    .image.image-box
                        img(src=val.imgUrl)
                    .content
                        -if(val.blogUrl =='' || val.blogUrl==undefined)
                            a.header(href="/blogs/"+val._id ) #{val.title}
                        -else
                            a.header(href=val.blogUrl ) #{val.title}
                        .meta
                            span
                                b Author:
                                |   #{val.author}
                                b(style="margin-left:10px;") Time:
                                |   #{new Date(val.addTime).toLocaleDateString()}
                        .description(style="height: calc(100% - 85px);")
                            p  #{val.intr}
                        .extra
                            i.unhide.icon
                            | #{val.viewCount}
                            | &emsp;
                            i.icon.thumbs.up
                            | #{val.priseCount}
                            -if(val.blogUrl =='' || val.blogUrl==undefined)
                                a.header(href="/blogs/" + val._id )
                                    span.viewMoreBtn More
                            -else
                                a.header(href=val.blogUrl )
                                    span.viewMoreBtn More
    .side-box
        ul
            a(href="https://github.com/",target="_blanck")
                li.help-us
                    i.github.icon
            li.care-us
                i.arrow.wechat.icon
            li.back2top
                i.arrow.circle.up.icon
    include layout/footer

    script
        | $(function(){NProgress.done();})
    script(src="/js/jquery.mousewheel.js")
    script(src="/js/index.js")