extends layout/layout

block content
    link(rel='stylesheet',type="text/css", href='/bower_components/semantic/dist/semantic.min.css')
    link(rel='stylesheet',type="text/css", href='/css/base.css')
    link(rel='stylesheet',type="text/css", href='/css/search.css')
    link(rel='stylesheet',type="text/css", href='/bower_components/nprogress/nprogress.css')
    script(src="/bower_components/nprogress/nprogress.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/semantic/dist/semantic.min.js")
    script NProgress.start();
    include layout/header

    script NProgress.set(0.2)
    .main-box
        .search-box
            .field.inline.search-container
                -if(search)
                    input.search-input(type="text",placeholder="Searching...",name="search",value=search)
                -else
                    input.search-input(type="text",placeholder="Searching...",name="search",value='')
                .ui.submit.button#submit-btn Search
        .search-listContainer
            -if(data != '')
                each  val,key in data
                    .ui.items.sim-blog
                        .item
                            .image.image-box
                                img(src=val.imgUrl)
                            .content
                                -if(val.blogUrl =='' || val.blogUrl==undefined)
                                    a.header(href="/blogs/" + val._id ) #{val.title}
                                -else
                                    a.header(href=val.blogUrl ) #{val.title}
                                .meta
                                    span
                                        b Author:
                                        |   #{val.author}
                                        b(style="margin-left:10px;") Time:
                                        |   #{new Date(val.addTime).toLocaleDateString()}
                                .description(style="height: calc(100% - 85px);")
                                    p  #{val.intr}
                                .extra
                                    i.unhide.icon
                                    | #{val.viewCount}
                                    | &emsp;
                                    i.icon.thumbs.up
                                    | #{val.priseCount}
            -else
                p.search-info #{message}
    include layout/footer

    script
        | $(function(){NProgress.done();})
    script(src="/js/jquery.mousewheel.js")
    script(src="/js/search.js")
