extends layout/layout

block content
    link(rel='stylesheet',type="text/css", href='/bower_components/semantic/dist/semantic.min.css')
    link(rel='stylesheet',type="text/css", href='/css/base.css')
    link(rel='stylesheet',type="text/css", href='/css/showBlogs.css')
    link(rel='stylesheet',type="text/css", href='/bower_components/nprogress/nprogress.css')
    link(rel='stylesheet',type="text/css", href='/css/wangEditor.css')
    script(src="/bower_components/nprogress/nprogress.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/semantic/dist/semantic.min.js")
    include layout/header

    .main-box
        article
            h2.blog-title  #{blog.title}
            p.blog-info
                span 作者： #{blog.author}
                span 发布时间： #{new Date(blog.addTime).toLocaleString()}
                i.unhide.icon
                | #{blog.viewCount}
                | &emsp;
                i.icon.thumbs.up.priseCount-btn
                | #{blog.priseCount}
            p.blog-intr #{blog.intr}
            .hidden.content-area(style="display:none") #{blog.content}
            .content
                .ui.segment
                    .ui.active.inverted.dimmer
                        .ui.text.loader
                            | Loading

            each  val in blog.mark
                a.ui.teal.tag.label #{val}
            input(type='hidden',name='_id',value="#{blog._id}")

    include layout/footer
    script(src="/js/showBlogs.js")
    script(src="/js/blogCount.js")

