extends layout/homeLayout

block homecontent
    link(rel='stylesheet',type="text/css", href='/css/user.css')
    link(rel='stylesheet',type="text/css", href='/bower_components/cropper/dist/cropper.min.css')
    .home-box
        .ui.breadcrumb.breadcrumb-nav
            a(href="/").section MainPage
                .divider  /
                a(href="/home").section home
                    .divider  /
                .active.section User
        article.article
            .user-main-box
                h2 User Information
                .user-sim-panle
                    .user-sim-title BaseInformation
                    .user-sim-box
                        label NickName:
                        input(type="text",value="#{userdata.nickname || ''}")#nickname-input
                    .user-sim-box
                        label UserName:
                        input(type="text",disabled,value="#{userdata.username}")
                    .user-sim-box
                        label UserPassword:
                        input(type="password",disabled,value='******')
                        span.exchangePassword Edit
                        .exchangePassword-box
                            //i.remove.icon.close-btn
                            .user-password-sim-box
                                label Old Password:
                                input.old-psd(type='password')
                                i.unhide.icon.psd-show
                            .user-password-sim-box
                                label New Password:
                                input.new-psd1(type='password')
                                i.unhide.icon.psd-show
                                p.password-complexity-box.complexity1
                                    span
                                    span
                                    span
                                    span
                            .user-password-sim-box
                                label New Password:
                                input.new-psd2(type='password')
                                i.unhide.icon.psd-show
                                p.password-complexity-box.complexity2
                                    span
                                    span
                                    span
                                    span
                            .user-password-sim-box
                                label VerifiCode:
                                span#verifiCode
                                input(type='text')#verifiCodeInput
                            .user-password-sim-box
                                #exchangePassword-cimmit-btn Submit
                    .user-sim-box
                        label UserLogo:
                        #userLogoPreview-show-container
                            img#userLogoPreview-show(src="#{userdata.logoUrl}")
                        span.exchangeLogo Edit
                        #userLogoPreview-container.clearfix
                            #userLogoPreview
                                img#userlogo-img(src="#{userdata.logoUrl}")
                            .userlogo-preview-box
                                .userlogo-preview.lg
                                .userlogo-preview.mid
                                .userlogo-preview.small
                                .put-image-data-btn Select File
                                    input(type="file",accept="image/*")#put-image-data-input
                                .get-image-data-btn Submit
                    .user-sim-box
                        label Telephone:
                        input(type="tel",placeholder="What's your telephone number?",value="#{userdata.phoneNumber || ''}")#phoneNumber-input
                .user-sim-panle
                    .user-sim-title ExtraInformation
                    .user-sim-box
                        label Sex:
                        select.ui.dropdown(style="height:30px;line-height:30px;")#sex-input
                            option(value='') Gender
                            - if ( userdata.sex == 'Male')
                                option(value='Male',selected) Male
                                option(value='Female') Female
                            - else
                                option(value='Male') Male
                                option(value='Female',selected) Female
                    .user-sim-box
                        label Age:
                        input(type="number",min='16',max='60',value="#{userdata.age || ''}")#age-input
                    .user-sim-box
                        label Education:
                        input(type="text",placeholder="which university are you in?",value="#{userdata.education || ''}")#education-input
                    .user-sim-box
                        label Occupation:
                        input(type="text",placeholder="What's your occupation?",value="#{userdata.occupation || ''}")#occupation-input
                    .user-sim-box
                        label Hobbit:
                        input(type="text",placeholder="What do you like to do?",value="#{userdata.hobbit || ''}")#hobbit-input
                    .user-sim-box
                        label(style="vertical-align:top;") Introduce:
                        textarea#introduce-input(placeholder="introduce yourself!")=userdata.introduce
                .user-info-submit submit



    script(src="/bower_components/cropper/dist/cropper.min.js")
    script(src="/js/user.js")