extends layout/layout

block content
    link(rel='stylesheet',type="text/css", href='/bower_components/semantic/dist/semantic.min.css')
    link(rel='stylesheet',type="text/css", href='/css/index.css')
    link(rel='stylesheet',type="text/css", href='/bower_components/nprogress/nprogress.css')
    script(src="/bower_components/nprogress/nprogress.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/semantic/dist/semantic.min.js")
    script NProgress.start();
    include layout/header

    script NProgress.set(0.2)
    .main-box
        each  val,key in list
            .ui.items
                .item
                    .image.image-box
                        img(src=val.imgUrl)
                    .content
                        a.header(href=" /blogs/#{val._id}" ) #{val.title}
                        .meta
                            span #{val.intr}
                        .description
                            p
                        .extra
                            | #{val.info}
    include layout/footer

    script
        | $(function(){NProgress.done();})

