extends layout

block content
    link(rel='stylesheet',type="text/css", href='/bower_components/semantic/dist/semantic.min.css')
    link(rel='stylesheet',type="text/css", href='/css/index.css')
    link(rel='stylesheet',type="text/css", href='/bower_components/nprogress/nprogress.css')
    script(src="/bower_components/nprogress/nprogress.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/semantic/dist/semantic.min.js")
    script NProgress.start();
    header
       .nav
           .logo-container
               span.logo-word  #{webSiteName}
           ul.nav-group
               li.nav-item HOME
               li.nav-item DEMO
               li.nav-item ABOUT
               li.nav-item CONNECT
           .search-container
               .ui.search
                   .ui.icon.input
                       input.prompt(type='text', placeholder='searching...')
                       i.search.icon
                   .results
    script NProgress.set(0.2)
    .main-box
        each  val,key in list
            .ui.items
                .item
                    .image.image-box
                        img(src=val.imgUrl)
                    .content
                        a.header(href=" /blogs/#{val._id}" ) #{val.title}
                        .meta
                            span #{val.intr}
                        .description
                            p
                        .extra
                            | #{val.info}

    footer
        p Copyright © 2016 Oven Liu. All rights reserved.

    script
        | $(function(){NProgress.done();})

